<div class="background">
  <%= image_tag "layer_1.png", class: "layer-1" %>
  <%= image_tag "layer_2.png", class: "layer-2" %>
  <%= image_tag "layer_3.png", class: "layer-3" %>
  <%= image_tag "layer_4.png", class: "layer-4" %>
  <%= image_tag "layer_4.png", class: "layer-4-bis" %>
  <%= image_tag "layer_5.png", class: "layer-5" %>
  <%= image_tag "layer_5.png", class: "layer-5-bis" %>
  <%= image_tag "van.png", class: "van" %>
</div>
