<div class="background">
  <%= image_tag "layer_1.png", class: "layer-1" %>
  <%= image_tag "layer_2.png", class: "layer-2" %>
  <%= image_tag "layer_3.png", class: "layer-3" %>
  <%= image_tag "layer_4.png", class: "layer-4" %>
  <%= image_tag "van.png", class: "van" %>
</div>

<p>les images de fond sont libres de droit et proviennent de "mobilegamegraphics.itch.io"</p>
