<div>
  <h2>La construction d'une application web</h2>
  <div class="texts">
    <p></p>
  </div>
  <div class="wall">
    <%= image_tag "CSS.png", class: "brick css" %>
    <%= image_tag "HTML.png", class: "brick html" %>
    <%= image_tag "Ruby.png", class: "brick ruby" %>
    <%= image_tag "Rails.png", class: "brick rails" %>
    <%= image_tag "JS.png", class: "brick js" %>
    <%= image_tag "Stimulus.png", class: "brick stimulus" %>
    <%= image_tag "postgre.png", class: "brick postgre" %>
    <%= image_tag "Github.png", class: "github" %>
    <%= image_tag "crane.png", class: "crane" %>
  </div>
</div>
<%# mettre des sons ! :D %>
