<div class="wall">
  <%= image_tag "crane.png", class: "crane" %>
  <%= image_tag "CSS.png", class: "brick css" %>
  <%= image_tag "HTML.png", class: "brick html" %>
  <%= image_tag "Ruby.png", class: "brick ruby" %>
  <%= image_tag "Rails.png", class: "brick rails" %>
  <%= image_tag "JS.png", class: "brick js" %>
  <%= image_tag "postgre.png", class: "brick postgre" %>
</div>
