<%= render "banner" %>
<nav>
  <%# render navigation  %>
  <p>test</p>
</nav>
<main class="container">
  <section class="projets">
    <h2>Projets</h2>
  </section>
  <section class="presentation">
    <h2>Présentation</h2>
    <%= link_to "CV en PDF", "/RT_CV_RoR.pdf", target: :_blank %>
    <p>capable de travailler seul ou en équipe pluridisciplinaire</p>
  </section>
  <section class="expertise">
    <h2>Mes domaines d'expertise</h2>
    <div class="row">
      <div class="col-12">
        <h3>Phase de conception de l'application : </h3>
        <ul>
          <li>Analyse et définition du besoin</li>
          <li>Cadrage du projet (fonctionnalités, délais et estimation budgétaire)</li>
          <li>Maquettage, design UX/UI</li>
          <li>Spécifications techniques</li>
        </ul>
      </div>
      <div class="col-12">
        <%= render "gears" %>
        <p class="info">Scroll me !</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3>Phase de développement :</h3>
        <ul>
          <li>Gestion de projet - respect de la qualité, délais et coûts</li>
          <li>Développement back-end / front-end</li>
          <li>Méthode agile, sprints et code-review</li>
          <li>Testing</li>
          <li>Mise en production en continu</li>
        </ul>
        <span>REJOUER L'ANIMATION</span>
      </div>
      <div class="col-12">
        <%= render "wall" %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3>Phase de vie de d'application :</h3>
        <ul>
          <li>Maintenance</li>
          <li>Développement de nouvelles fonctionnalités</li>
        </ul>
      </div>
      <div class="col-12">
        <%= render "van" %>
      </div>
    </div>
  </section>
  <section class="contact">
    <h2>Contact</h2>
  </section>
  <section>
  <h2>Mentions légales</h2>
  <h3>Images</h3>
  <p>Grégory Ferreux</p>
  <p>les images de fond sont libres de droit et proviennent de "mobilegamegraphics.itch.io"</p>
  <h2>Données personnelles</h2>
  <h2></h2>
  </section>
</main>
