<p>Bien joué <strong><%= @game.current_player %></strong> ! Tu as obtenu un score de <strong><%= @game.sum %> points</strong>.</p>
<p>Tu peux donc attaquer tes adversaires avec la valeur <strong><%= @game.damage %></strong> !</p>
<p>Rejette les dès tant que tu obtiens des <strong><%= @game.damage %></strong> supplémentaires.</p>

<%= simple_form_for(@dice,
                    data: { gamearea_target: "form" },
                    remote: true) do |f| %>
  <%= f.hidden_field :game_id, :value => @game.id %>
  <%= f.hidden_field :number, :value => @game.damage %>

  <%= f.submit "Lancer les dés", class: "btn btn-primary", data: { action: "click->gamearea#attack", gamearea_target: "btnAttack" } %>
<% end %>
<div data-gamearea-target="insertAttackInfo">
</div>

<%= simple_form_for(@game) do |f| %>
  <%= f.hidden_field :substatut, :value => @game.substatut %>
  <%= f.submit "Fin du tour", class: "btn btn-info disabled", data: { gamearea_target: 'btn' } %>
<% end %>
