<div data-controller="scorespannel">
  <span class="btn btn-primary" data-scorespannel-target="btn" data-action="click->scorespannel#toggle">Scores</span>
  <ul class="list" data-scorespannel-target="list">
    <% @players.each do |player| %>
      <li><%= player.pseudo  %>, PV : <%= player.pv %></li>
    <% end %>
  </ul>
</div>

<div class="tapisdejeu" data-controller="gamearea">

  <% case @game.substatut %>
    <%  when "roll_five_dices" %>
      <%= render 'roll_five_dices' %>
    <% when "damage_yourself" %>
      <%= render 'dmg_yourself' %>
    <% when "damage_others" %>
      <%= render 'dmg_others' %>
    <% when "heal_yourself" %>
      <%= render 'heal_yourself' %>
  <% end %>

</div>
