<div data-controller="scorespannel">
  <span class="btn btn-primary" data-scorespannel-target="btn" data-action="click->scorespannel#toggle">Scores</span>
  <ul class="list" data-scorespannel-target="list">
    <% @players.each do |player| %>
      <li><%= player.pseudo  %>, PV : <%= player.pv %></li>
    <% end %>
  </ul>
</div>

<div class="tapisdejeu" data-controller="gamearea">
  <p>C'est au tour de <strong><%= @current_player.pseudo %></strong> de jouer !</p>

  <%= simple_form_for(@game,
                      data: {action: "click->gamearea#throwdices" }
                      ) do |f| %>
    <%= f.hidden_field :turn, :value => @game.turn %>
    <%= f.hidden_field :game_id, :value => @game.id %>
    <%= f.hidden_field :current_player, :value => @game.current_player %>
    <%= f.submit "Jeter les dés -- tour #{@game.turn}", class: "btn btn-info" %>
  <% end %>

  <%= render 'list_dices' %>
</div>
