<div data-controller="launchgame">
  <%= simple_form_for(@game) do |f| %>
    <%= f.hidden_field :id, :value => @game.id %>
    <%= f.hidden_field :statut, :value => "en cours" %>
    <%= f.submit "Lancer la partie", class:"btn btn-secondary", disabled: :submit_disable, data: { launchgame_target: "submit" } %>
  <% end %>

  <% if @players.size < 8 %>
    <%= simple_form_for(@player) do |f| %>
      <%= f.input :pseudo %>
      <%= f.hidden_field :game_id, :value => @game.id %>
      <%= f.submit "Ajouter un joueur", class:"btn btn-primary" %>
    <% end %>
  <% else %>
    <p>La Partie est complète ! (8 joueurs maximum)</p>
  <% end %>

  <p>Liste de joueurs :</p>
  <ul data-launchgame-target = "list">
    <% @players.each do |player| %>
      <li><%= player.pseudo %></li>
    <% end %>
  </ul>
</div>
