<%= render "pages/navigation" %>
<h1>Partie n°<%= @game.id %> <%= @game.statut %></h1>

<%= link_to 'Règles du jeu', game_rules_path(@game), class:"btn btn-success", target: :_blank %>

<% case @game.statut %>
  <%  when  "en préparation" %>
    <%= render 'preparation' %>
  <% when "en cours" %>
    <%= render 'encours' %>
  <% when "terminée" %>
    <%= render 'terminee' %>
<% end %>
